# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=https://seu-recurso.openai.azure.com/
AZURE_OPENAI_API_KEY=sua-chave-api-aqui
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini

# AwesomeAPI CEP Configuration
AWESOME_API_BASE_URL=https://cep.awesomeapi.com.br/json
AWESOME_API_TOKEN=seu-token-api-aqui
AWESOME_API_KEY_HEADER=seu-token-api-aqui
